*{
    box-sizing:border-box;
    padding:0;
    margin:0;
    font-family:"Roboto",sans-serif;
}

body{background-color:#e7e7e7e7;
}

.container{
    max-width:1200px;
    width:100%;
    margin:60px auto;
    border:2px solid black;
    background-color:rgb(199, 209, 204)
}

header{
    display:flex;
    align-items:center;
    padding-bottom:25px;
    padding-top:16px;
}

header img{
    height:54px;
}

header h1{
    font-size:40px
}

form{
    max-width:700px;
    display:flex;
    justify-content:space-between;
}

form input,button,.inputFiltro{
margin: 0 7px 20px 19px;
font-size:25px;
padding: 9px 0;
border:none;
border-bottom:2px solid black;
border-radius:5px;
font-weight:bold;
}

form button{
padding:3px 13px;
color:white;
background-color:rgb(37, 222, 37)
}

form button:hover{
background-color:rgb(39, 165, 39)

}

form img{
    height:64px
}

form img:hover{
    height: 54px;
}

form .botaoFiltro{
    border-radius: 30px;
}

table{
width: 100%;
}

table th{
    font-size:25px;
    font-weight:bold;
    padding:0px 20px 7px 40px;
    border-bottom:2px solid black;
}

table td{
    font-size:21px;
    font-weight:bold;
    padding:10px 7px 10px 90px;
    border-bottom:2px solid rgb(240, 250, 181);
}


/*
.excluir{
     display:none; 
    font-size:26px;
    margin-left:33px;
    background-color:red;
    color:white;
    padding:3px 10px;
    border-radius:25px;
}

.excluir:hover{
    background-color:rgb(175, 31, 31);
    color:#e7e7e7;
    padding:2px 7px;
}

.botao{

}

.botao verdadeiro{

}

.botao falso{
    
}